@using IMS_Project.Models;
@model Tuple<Order, IEnumerable<OrderDetail>>
@{ ViewBag.Title = "Order";
    ViewBag.SubTitle = "Details"; }

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal ">
            <dt>
                @Html.DisplayName("Order ID : ")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Item1.OrderID)
            </dd>
            <dt>
                @Html.DisplayName("Customer Name : ")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Item1.Customer.First_Name)
            </dd>
            <dt>
                @Html.DisplayName("Customer Surname : ")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Item1.Customer.Last_Name)
            </dd>
            <dt>
                @Html.DisplayName("Customer Email : ")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Item1.Customer.Email)
            </dd>
            <dt>
                @Html.DisplayName("Customer Number : ")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Item1.Customer.Mobile1)
            </dd>
            <dt>
                @Html.DisplayName("Customer Country : ")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Item1.Customer.Country)
            </dd>

        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal ">
            <dt>
                @Html.DisplayName("Order Date : ")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Item1.OrderDate)
            </dd>
            <dt>
                @Html.DisplayName("Order Dispatched : ")
            </dt>
            <dd>
                @if(Model.Item1.DIspatched == true)
                {
                <label style="color:green;">✔⠀⠀</label>
                }
                else if(Model.Item1.CancelOrder == true)
                {
                        <label style="color:red;">✖⠀⠀</label>
                }
                else
                {
                <label>⌛⠀⠀</label>
                }
                @Html.DisplayFor(model => model.Item1.DispatchedDate)
            </dd>
            <dt>
                @Html.DisplayName("Order Finished : ")
            </dt>
            <dd>
                @if(Model.Item1.Deliver == true)
                {
                <label style="color:green;">✔⠀⠀</label>
                }
                else if(Model.Item1.DIspatched == true && Model.Item1.Deliver == false)
                {
                        <label>⌛⠀⠀</label>
                }
                else if(Model.Item1.CancelOrder == true)
                {
                        <label style="color:red;">✖⠀⠀</label>
                }
                else
                {
                <label style="color: red;">-</label>
                }
                @Html.DisplayFor(model => model.Item1.DeliveryDate)
            </dd>
            <dt>
                @Html.DisplayName("Order Canceled : ")
            </dt>
            <dd>
                @if(Model.Item1.CancelOrder == true)
                {
                <label style="color:red;">✔⠀⠀</label>
                }
                else
                {
                <label style="color:green;">✖⠀⠀</label>
                }
            </dd>
            <dt>
                @Html.DisplayName("Shipping to Email : ")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Item1.ShippingDetail.Email)
            </dd>
            <dt>
                @Html.DisplayName("Customer Note : ")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Item1.ShippingDetail.Address)
            </dd>


        </dl>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding:5px 15px">
            <h4>Items</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="">
                    <div class="table-responsive col-md-off ">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{int i = 0;}
                                @foreach (var item in Model.Item2)
                                {
                                    i++;
                    <tr>
                        <td>@i.ToString()</td>
                        <td>@item.Product.Name</td>
                        <td>@item.Quantity</td>
                        <td>@item.UnitPrice $</td>
                        <td>@item.TotalAmount $</td>
                    </tr>
                              if(item.Order.DIspatched == true && item.Order.Deliver == true)
                              {
                              <label class="text-center" style="color: rgb(76, 255, 0,0.5); position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%) rotate(30deg); font-size: 70px;">Order Finished!</label>
                              }
                              if(item.Order.CancelOrder == true)
                              {
                              <label class="text-center" style="color: rgb(255, 0, 0,0.5); position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%) rotate(30deg); font-size: 70px;">Order Canceled!</label>
                              }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5"><h2></h2></td>

                                </tr>
                                <tr class="bg-info">
                                    <th>Total Amount:</th>
                                    <th></th>
                                    <th>@ViewBag.TotalItems</th>
                                    <th></th>
                                    <th>@ViewBag.TAmount $</th>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.ActionLink("Back", "Index", "Order", new { @class = "btn btn-primary" })

@if (ViewBag.ShowDispatchButton)
{
<button onclick="location.href='@Url.Action("Dispatch", "Order", new { id = Model.Item1.OrderID })'" class="btn btn-success"><i class="fa fa-send"></i> Order Dispatched</button>}

@if (ViewBag.ShowFinishButton)
{
<button onclick="location.href='@Url.Action("Finish", "Order", new { id = Model.Item1.OrderID })'" class="btn btn-danger"><i class="fa fa-shopping-cart"></i> Order Finished</button>}

@if (ViewBag.ShowCancelButton)
{
<button onclick="location.href='@Url.Action("CancelOrder", "Order", new { id = Model.Item1.OrderID })'" class="btn btn-warning" style="float: right;"><i class="fa fa-times"></i> Cancel Order</button>
}